body{
    margin: 0;
    padding: 0;
    color: black;
    background-color: antiquewhite;
}
    
.navbar {
    /* text-align: center; */
    width: 100%;
    padding: 10px;
    background-color: #555;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
    border-radius: 20px;
}

/* Current/active navbar link */
.active {
      border-radius: 20px;
    background-color: #04AA6D;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
/* hero background image */

/* banner */
.banner {
    background-color: #f1f1f1;
    padding: 200px;
    text-align: center;
  }
  
  .banner h1 {
    color: #333;
    font-size: 24px;
  }

#contact {
    padding-bottom: 4rem;
}
/* about section image css */
.my_photo {
    width: 100%;
    border-radius: 10%;
}
.my_photo:hover{
    border: 2px solid blue
}

/* sKILLS section css */
#services{
    background-color: black;
}
.text-center {
    color: white;
}
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.skills-Icon {
    font-size: 200px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .skills-Icon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}


/* footer styling */
#footer {
    height: 150px;
    background-color: #2d2d2d;
    text-align: center;
}
#footer2 {
    text-align: left;
}


/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover {
    color: #2a4785;
}
.fa-instagram:hover {
    color:#cd201f;
}
.fa-twitter:hover{
    color:#38a0f0;
}
.fa-linkedin:hover{
    color:#0077b5;
}
.fa-youtube:hover{
    color: 	#cd201f;
}
.fab {
    color: #000000;
}
#contact{
    background-color: black;
}
