body{
    margin: 0;
    padding: 0;
    color: black;
    background-color: antiquewhite;
}

/* NAVBAR */
.navbar {
    background-color: #ffffff;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    text-align: center;
    padding: 20px;
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    color: white;
    background-color: #000;
    border-radius: 40px;
  }
  
  /* Current/active navbar link */
  /* .navbar a.active {
    background-color: #000;
    border-radius: 20px;
  } */
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar {
      flex-wrap: wrap;
    }
    
    .navbar a {
      flex: 0 0 100%;
      display: block;
      padding: 10px;
      text-align: center;
    }
  }
  
/* hero background image */
.container-banner .banner {
    /* align-items: center; */
    text-align: center;
}
.banner-img {
    width: 100%;
}

.banner-txt {
    padding-top: 40px;
}

/* banner */


#contact {
    padding-bottom: 4rem;
}
/* about section image css */
.my_photo {
    width: 100%;
    border-radius: 10%;
}
.my_photo:hover{
    border: 2px solid blue
}

/* sKILLS section css */
#services{
    background-color: black;
}
.text-center {
    color: white;
}
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.skills-Icon {
    font-size: 200px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .skills-Icon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}


/* footer styling */
#footer {
    height: 150px;
    background-color: #2d2d2d;
    text-align: center;
}
#footer2 {
    text-align: left;
}


/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover {
    color: #2a4785;
}
.fa-instagram:hover {
    color:#cd201f;
}
.fa-twitter:hover{
    color:#38a0f0;
}
.fa-linkedin:hover{
    color:#0077b5;
}
.fa-youtube:hover{
    color: 	#cd201f;
}
.fab {
    color: #000000;
}
#contact{
    background-color: black;
}
